<div class="main">
    <h1>Register for our good cause</h1>

    <div class="picture">
        <img src="/pizza.jpg" id="ananas">
    </div>

    <div class="form">
        <form method="post">

              <input type="text" name="first" value="" placeholder="First Name" class="input-field"><br/><br/>
              <input type="text" name="last" value="" placeholder="Last Name" class="input-field"><br/><br/>
              <input type="text" name="email" value="" placeholder="Email Address" class="input-field"><br/><br/>
              <input type="text" name="password" value="" placeholder="Password" class="input-field"><br/><br/>
              <br>
              {{#error}}
              <div class="error">Oooops! Something went wrong. Try again</div>
              {{/error}}
              <br>
              <input type="submit" value="Sign Up" id="submit-btn">
        </form>
    </div>


</div>
