<div class="main">
    <div class="picture-thanks">
        <img src="/pizza.jpg" id="ananas">
    </div>
    <h2>People who signed our petition to outlaw putting ananas on the pizza</h2>

    <div class="signed-names">
        {{#each signedNames}}
        <p>{{first}} {{last}}</p>
        {{/each}}
    </div>


</div>
