<div class="main">
    <div class="picture-thanks">
        <img src="/pizza.jpg" id="ananas">
    </div>
    <h2>Thank you for signing our petition to outlaw putting pineapple on pizza</h2>
    <div class="picture-thanks-sign">
        <img src='{{signature}}' class="canvas-image">
    </div>

    <div  class="signers-link">
        <a href="/petition/signers">See all signers</a> <br/>
        <a href="/profile/edit">Edit your profile</a> <br/>
        <a href="/profile/delete">Delete your signature</a>
    </div>

</div>
