<div class="main">
    <div class="middle-content">
        <h1>Sign our petition to outlaw putting pineapple on the pizza and selling it to innocent restaurant-goers</h1>
        <h3>No piece of a pineapple should ever be put on a pizza again! We must unite and stop this act of barbarism!</h3>

    <div class="picture">
        <img src="/pizza.jpg" id="ananas">
    </div>


    <div class="form">
        <form method="post">
              <!-- <input type="text" name="first" value="" placeholder="First Name" class="input-field"><br/><br/>
              <input type="text" name="last" value="" placeholder="Last Name" class="input-field">
              <br><br> -->
              <input type="hidden" name="signature" value="">
              {{#error}}
              <div class="error">Oooops! Something went wrong. Try again</div>
              {{/error}}
              <canvas id="canvas" width="600" height="100"></canvas>
              <input type="submit" value="Submit" id="submit-btn">
        </form>
    </div>
</div>

</div>
