body {
    background-color: #ffeecc;
    /* #7ed4d1; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Petition Page  */

.main {
    width: 700px;
}

.form {
    /* ??? */
    text-align: center;
    margin: 10px;
}

h1,
h2,
h3 {
    text-align: center;
    padding: 10px;
}

#submit-btn {
    display: block;
    margin: 0 auto;
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    border-radius: 7px;
}

#ananas {
    width: 600px;
    margin: auto 0;
}

.picture {
    text-align: center;
    margin: 20px;
}

.picture-thanks,
.picture-thanks-sign {
    margin: 10px;
    text-align: center;
}

.picture-thanks-sign {
    border: 1px solid grey;
}

#canvas {
    border: 1px dashed black;
    margin: 10px;
}

.error {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.signers-link {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.signed-names {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px dashed grey;
}

.input-field {
    width: 600px;
    padding: 10px;
}
